:root {
    --color-header: #1E1E1E;
    --unnamed-color-efece2: #EFECE2;
    --unnamed-color-fc7300: #FC7300;
    --unnamed-color-090b30: #090B30;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-333333: #333333;
    --unnamed-color-3a74ba: #3A74BA;
    --unnamed-color-aaaaaa: #AAAAAA;
    --unnamed-color-2179ce: #2179CE;
    --unnamed-color-999999: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: fixed;
    height: 4.375rem;
    background-color: var(--color-header);
    width: 100%;
}

.header_area {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--unnamed-color-efece2);
}

.header_box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.9375rem;
}

.header_icons i {
    font-size: 1.5rem;
}

.header_hamburguer i{
    font-size: 35px;
    transition: all 0.4s;
}

.header_hamburguer i:hover {
    transform: scale(1.2)
}

.header_img_box {
    display: flex;
    justify-content: center;
}

.header_img_box img {
    width:50px;
    height: 50px;
}

/* INTRO AREA */

.intro {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    background-color: var(--unnamed-color-090b30);
    background-image: url(../img/monitor\ da\ bancada\ topo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro_box {
    height: 100%;
    text-align: center;
    font-size: 1.125rem;
    max-width: 31.25rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.links_intro {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 90px;
}

.links_intro a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.link_one {
    color: var(--unnamed-color-2179ce);
}

.link_two {
    color: var(--unnamed-color-2179ce);
}

.link_three {
    color: var(--unnamed-color-999999);
}

.link-btn::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;
}

.intro_links {
    font-size: 2.1875rem;
    gap: 0.625rem;
}

.intro_links i {
    transition: all 0.4s;
    font-size: 2.1875rem;
}

.intro_links i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.intro_date {
    color: var(--unnamed-color-999999);
}

/* DEPUTADOS SECTION */

.deputados {
    background-color: var(--unnamed-color-090b30);
}

.deputados-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deputados-title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: var(--unnamed-color-fc7300);
}

.deputados-card {
    flex: 0 0 9%;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--unnamed-color-f2f2f2);
    padding: 0.5rem;
    border-radius: 0.625rem;
    min-height: 9.375rem;
    box-sizing: border-box;
    justify-content: flex-start;
    max-width: 6.25rem;
    cursor: pointer;
}

.deputados-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.deputados-card p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 0;
}

#deputados-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-party {
    text-align: center;
    font-size: 14px;
    color: var(--unnamed-color-999999);
}

.hide {
    display: none;
}

/* METODOLOGIA */

.metodologia {
    display: flex;
    justify-content: center;
    background-color: var(--unnamed-color-090b30);
}

.metodologia_box {
    max-width: 51.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metodologia_box h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--unnamed-color-fc7300);
}

.metodologia_box p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: justify;
}

/* EXPEDIENTE */

.expediente {
    padding-bottom: 2rem;
    background-color: var(--unnamed-color-090b30);
}

.expediente_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 51.25rem;
    color: #fff;
}

.expediente_box h3 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--unnamed-color-fc7300);

}

.expediente_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 280px;
}

.title_info {
    font-weight: bold;
}

.info_box p {
    margin-bottom: 0;
    font-size: 20px;
}

@media (max-width: 768px) {
    .intro {
        display: flex;
        align-items: flex-end;
        height: 100vh;
        width: 100%;
        background-color: var(--unnamed-color-090b30);
        background-image: url(../img/monitor\ da\ bancada\ logo.png);
        background-size: auto;
        background-position: center 30%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 425px) {

    .intro {
        background-size: contain;
        background-position: center 40%;
    }

    .expediente_info {
        max-height: none;
    }
}